<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Native Sync Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <ion-button expand="block" (click)="copyFile()">Copy File</ion-button>
    <p></p>
    <ion-button expand="block" (click)="deleteCopiedFile()">Delete Copied File</ion-button>
    <p></p>
    <ion-button expand="block" (click)="insertRecord()">Insert Record</ion-button>
    <p></p>
    <ion-button expand="block" (click)="deleteRecord()">Delete Record</ion-button>
    <p></p>
    <ion-button expand="block" (click)="updateRecord()">Update Record</ion-button>
    <p></p>
    <ion-button expand="block" (click)="doSync()">Sync</ion-button>
    <ion-progress-bar [value]="syncState.progress"></ion-progress-bar>

    </div>
</ion-content>
